* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, helvetica, arial, sans-serif;
}

html,
body {
  max-width: 100svw;
  overflow-x: hidden;
}

#__next {
  min-width: 100svw;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  flex: 1;
}
