.posts {
  max-width: 100%;
}

.post-header__mark:before {
  content: '>';
  display: block;
  margin-right: 5px;
}

.post-header__cursor {
  animation: cursor 1s infinite;
  display: inline-block;
  background: #0e9852;
  margin-top: 0.9rem;
  margin-left: 5px;
  border-radius: 2px;
  width: 0.8rem;
  height: 2px;
  line-height: 1rem;
}

.post-content ul {
  margin-left: 20px;
}

.post-content .dl-vertical dt {
  display: block;
  float: left;
  clear: both;
  width: 20%;
}

.post-content .dl-vertical dt {
  display: block;
  float: left;
  margin: 0;
}
